/** Global loader **/
.place-text {
    position: fixed;
    white-space: nowrap;
    z-index: 10001;
    top: 0;
    left: 50%;
    height: 40px;
    width: 120px;
    margin-left: -60px;
    display: none;
    background-color: #2773ae;
    font-weight: bold;
    padding: 3px;
    border-radius: 5px;
    color: #fff;
    -o-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}
.place-text .place-img-content {
    margin: 6px 5px 0 5px;
    background: url('../image/4-0.gif') no-repeat;
    display: inline-block;
    padding-left: 20px;
}
.place-text.top {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
}
