{% extends "layout.html.twig" %}

{% block title %}{{ app['app.name'] }} | About us {% endblock %}

{% block content %}
    <div class="inner cover">

        <h1 class="cover-heading">About us</h1>

        <p class="lead">This site is a test <a href="http://silex.sensiolabs.org/" class="text-primary">Silex</a> project.</p>
        <p class="lead">Source of this project you can find on the <a href="https://bitbucket.org/madmis/downloader" class="text-primary">Bitbucket</a>.</p>
        <p class="lead">Project developed by <a href="http://madmis.com.ua"  class="text-primary">madmis</a>.</p>
    </div>
{% endblock %}