{% extends "layout.html.twig" %}

{% block title %}{{ app['app.name'] }} | Download videos from Keek, Vkontakte, Facebook or YouTube {% endblock %}

{% block content %}
    <div class="inner cover">

        <h1 class="cover-heading">
            Load video from <a href="http://www.keek.com/" rel="nofollow" class="text-primary">Keek</a>
        </h1>
        <form class="form-horizontal" role="form" action="/api/sendUrl" method="post" id="send-url-form">
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Paste URL from Keek" />
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-warning btn-block">Download</button>
            </div>
        </form>

        <p class="lead">Paste url for any video from <a href="http://www.keek.com/" rel="nofollow" class="text-primary">Keek</a> and download it!</p>
    </div>
{% endblock %}
