<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />

        <meta name="description" content="" />
        <meta name="keywords" content="" />
        <meta name="author" content="Machin Dmitry <madmis@inbox.ru>" />

        <title>{% block title %}{{ app['app.name'] }}{% endblock title %}</title>

        <!-- stylesheets -->
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/assets/css/cover.css" rel="stylesheet" type="text/css" />
        <link href="{{ app.request.basepath }}/assets/css/main.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        {% set route = app.request.get('_route') %}

        <div class="site-wrapper">
            <div class="site-wrapper-inner">
                <div class="cover-container">

                    <div class="masthead clearfix">
                        <div class="inner">
                            <h3 class="masthead-brand">{{ app['app.name'] }}</h3>
                            <ul class="nav masthead-nav">
                                <li class="{% if route == 'homepage' %}active{% endif %}"><a href="/">Home</a></li>
                                <li  class="{% if route == 'about' %}active{% endif %}"><a href="/about">About us</a></li>
                            </ul>
                        </div>
                    </div>

                    {% block content %}{% endblock %}

                    <div class="mastfoot">
                        <div class="inner">
                            <p class="pull-left">Copyrights © <a href="http://madmis.com.ua">madmis</a> 2014, All rights reserved</p>
                            <p>Developed by <a href="http://madmis.com.ua">madmis</a></p>
                        </div>
                    </div>

                </div>

            </div>
        </div>

        <div class="place-text top" id="global-loader"><span class="place-img-content">Loading...</span></div>

        <script src="//yandex.st/jquery/2.1.1/jquery.min.js" type="text/javascript"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" type="text/javascript"></script>
        <script src="{{ app.request.basepath }}/assets/js/noty/jquery.noty.js" type="text/javascript"></script>
        <script src="{{ app.request.basepath }}/assets/js/fileDownload/jquery.fileDownload.js" type="text/javascript"></script>
        <script src="{{ app.request.basepath }}/assets/js/noty/layouts/topRight.js" type="text/javascript"></script>
        <script src="{{ app.request.basepath }}/assets/js/noty/themes/default.js" type="text/javascript"></script>
        <script src="{{ app.request.basepath }}/assets/js/api.t.js" type="text/javascript"></script>
    </body>
</html>
