{% extends "layout.html.twig" %}

{% block content %}
    <h2>An error occurred.</h2>
    <p class="lead">Error code: {{ code }}</p>
    <p class="lead">Error message: {{ message }}</p>
{% endblock %}
